<div class="multi-book-fetch-container">
  <div class="panel-header">
    <div class="header-icon-wrapper">
      <i class="pi pi-sync header-icon"></i>
    </div>
    <div class="header-text">
      <h2 class="panel-title">Metadata Refresh Options</h2>
      @if (isLibraryRefresh) {
        <p class="panel-description">Library-level custom metadata fetch</p>
      } @else {
        <p class="panel-description">{{ bookIds.length }} books selected</p>
      }
    </div>
    <p-button
      icon="pi pi-times"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      (click)="dialogRef.close()"
      class="close-button">
    </p-button>
  </div>

  <div class="dialog-content">
    <app-metadata-fetch-options
      [dialogData]="{ bookIds: bookIds, libraryId: libraryId, metadataRefreshType: metadataRefreshType }"></app-metadata-fetch-options>
  </div>
</div>
