<ng-container>
  @if (root) {
    @if (item.hasDropDown) {
      <div class="layout-menuitem-root-text root-item-with-dropdown">
        <div class="root-item-label-container">
          <div>{{ item.label }}</div>
          @if (item.hasCreate) {
            <button
              type="button"
              class="plus-icon-button"
              [attr.aria-label]="item.label"
              (click)="openDialog(item)"
            >
              <i class="pi pi-plus plus-icon" aria-hidden="true"></i>
            </button>
          }
        </div>
        <button
          type="button"
          class="expand-icon-button"
          [attr.aria-label]="item.label"
          [attr.aria-expanded]="isExpanded(key)"
          (click)="toggleExpand(key)"
        >
          <i
            [ngClass]="{
              'pi': true,
              'pi-angle-up': isExpanded(key),
              'pi-angle-down': !isExpanded(key)
            }"
            class="expand-icon"
            aria-hidden="true"
          ></i>
        </button>
      </div>
    } @else {
      <div class="layout-menuitem-root-text root-item">
        <div>{{ item.label }}</div>
      </div>
    }
  }

  <div>
    <div
      class="menu-item-container"
      [class.active-route-container]="isRouteActive()"
      (mouseenter)="hovered = true"
      (mouseleave)="hovered = false"
    >
      @if (item.routerLink && !item.items) {
        <a
          class="menu-item-link"
          [class.active-route]="isRouteActive()"
          [routerLink]="item.routerLink"
          tabindex="0"
        >
          @if (item.unhealthy) {
            <span
              class="library-health-dot"
              [pTooltip]="'common.libraryPathInaccessible' | transloco"
              tooltipPosition="right"
            ></span>
          }
          <app-icon-display
            [icon]="getIconSelection()"
            iconClass="layout-menuitem-icon"
            size="18px"
            [displayEmpty]="true"
          ></app-icon-display>
          <span class="layout-menuitem-text menu-item-text">
            {{ item.label }}
          </span>
        </a>
      }

      <span class="menu-item-end-content">
        @if (item.type === 'Library' || item.type === 'Shelf' || item.type === 'magicShelfItem') {
          @if (hasContextMenu()) {
            @if (shouldShowContextMenuButton()) {
              <button
                type="button"
                class="entity-menu-button"
                [attr.aria-label]="item.label"
                (click)="entitymenu.toggle($event); $event.stopPropagation()"
                (mouseenter)="hovered = true"
                (mouseleave)="hovered = false"
                (focus)="hovered = true"
                (blur)="hovered = false"
              >
                <span class="entity-menu-button-content">
                  @if (hovered) {
                    <i class="pi pi-ellipsis-v" aria-hidden="true"></i>
                  } @else {
                    <span>{{ item.bookCount?.toString() || '' }}</span>
                  }
                </span>
              </button>
            }
            <p-menu #entitymenu [model]="contextMenuItems" [popup]="true" appendTo="body"></p-menu>
          }
        }

        @if (item.type === 'Library' && (!admin() && !canManipulateLibrary()) || item.type === 'All Books' || item.type === 'Series' || item.type === 'Authors' || item.label === 'Unshelved' || item.label === 'Kobo') {
          <p class="book-count">
            {{ formatCount(item.bookCount) }}
          </p>
        }
      </span>
    </div>

    <div [@children]="isExpanded(key) ? 'expanded' : 'collapsed'" class="submenu-container">
      @if (item.items) {
        <ul>
          @for (child of item.items; track child.routerLink?.[0] ?? child.label; let i = $index) {
            <li app-menuitem [item]="child" [index]="i" [parentKey]="key"></li>
          }
        </ul>
      }
    </div>
  </div>
</ng-container>
