@use "variables";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: variables.$scale;
}

body {
  font-family: var(--font-family), serif;
  color: var(--text-color);
  background-color: var(--app-background);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.layout-wrapper {
  min-height: 100dvh;
  scroll-behavior: smooth;
  background-color: var(--app-background);
}

p {
  color: var(--text-color);
}

p.p-secondary {
  color: var(--text-secondary-color);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
