<div class="user-card-body">
  <div class="user-details-section">
    <h4 class="details-title">
      <i class="pi pi-id-card"></i>
      {{ t('userInfo.title') }}
    </h4>
    <div class="details-grid">
      <div class="detail-field">
        <label [for]="'user-full-name-' + user().id">{{ t('userInfo.fullName') }}</label>
        @if (user().isEditing) {
          <input [id]="'user-full-name-' + user().id" type="text" pInputText [(ngModel)]="user().name" [placeholder]="t('userInfo.enterFullName')"/>
        } @else {
          <span>{{ user().name || t('userInfo.notSet') }}</span>
        }
      </div>
      <div class="detail-field">
        <label [for]="'user-email-' + user().id">{{ t('userInfo.email') }}</label>
        @if (user().isEditing) {
          <input [id]="'user-email-' + user().id" type="email" pInputText [(ngModel)]="user().email" [placeholder]="t('userInfo.enterEmail')"/>
        } @else {
          <span>{{ user().email || t('userInfo.notSet') }}</span>
        }
      </div>
      <div class="detail-field detail-field-wide">
        <label [for]="'user-libraries-' + user().id">{{ t('userInfo.libraries') }}</label>
        @if (user().isEditing) {
          <p-multiSelect
            [inputId]="'user-libraries-' + user().id"
            [options]="allLibraries"
            optionLabel="name"
            optionValue="id"
            [(ngModel)]="localLibraryIds"
            (ngModelChange)="onLibraryIdsChange()"
            [placeholder]="t('userInfo.selectLibraries')"
            appendTo="body"
            [disabled]="user().permissions.admin">
          </p-multiSelect>
          @if (localLibraryIds.length === 0 && !user().permissions.admin) {
            <div class="form-field">
              <small class="field-error">
                <i class="pi pi-exclamation-circle"></i>
                {{ t('createDialog.libraryRequired') }}
              </small>
            </div>
          }
        } @else {
          <span>{{ libraryAccessLabel }}</span>
        }
      </div>
    </div>
  </div>

  <div class="permissions-section">
    <h4 class="details-title">
      <i class="pi pi-lock"></i>
      {{ t('permissions') }}
    </h4>

    <div class="permissions-grid">
      <div class="permission-group">
        <h5>
          <i class="pi pi-shield"></i>
          {{ t('permGroups.administration') }}
        </h5>
        <div class="permission-items">
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.admin" (onChange)="onAdminCheckboxChange()" [disabled]="!user().isEditing" inputId="admin-{{user().id}}"></p-checkbox>
            <label [for]="'admin-'+user().id">{{ t('perms.fullAdmin') }}</label>
          </div>
        </div>
      </div>

      <div class="permission-group">
        <h5>
          <i class="pi pi-book"></i>
          {{ t('permGroups.bookManagement') }}
        </h5>
        <div class="permission-items">
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canUpload" [disabled]="isPermissionDisabled" inputId="upload-{{user().id}}"></p-checkbox>
            <label [for]="'upload-'+user().id">{{ t('perms.uploadBooks') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canDownload" [disabled]="isPermissionDisabled" inputId="download-{{user().id}}"></p-checkbox>
            <label [for]="'download-'+user().id">{{ t('perms.downloadBooks') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canDeleteBook" [disabled]="isPermissionDisabled" inputId="delete-{{user().id}}"></p-checkbox>
            <label [for]="'delete-'+user().id">{{ t('perms.deleteBooks') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canManageLibrary" [disabled]="isPermissionDisabled" inputId="library-{{user().id}}"></p-checkbox>
            <label [for]="'library-'+user().id">{{ t('perms.manageLibrary') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canEmailBook" [disabled]="isPermissionDisabled" inputId="email-{{user().id}}"></p-checkbox>
            <label [for]="'email-'+user().id">{{ t('perms.emailBooks') }}</label>
          </div>
        </div>
      </div>

      <div class="permission-group">
        <h5>
          <i class="pi pi-eye"></i>
          {{ t('permGroups.systemAccess') }}
        </h5>
        <div class="permission-items">
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canAccessBookdrop" [disabled]="isPermissionDisabled" inputId="bookdrop-{{user().id}}"></p-checkbox>
            <label [for]="'bookdrop-'+user().id">{{ t('perms.accessBookdrop') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canAccessLibraryStats" [disabled]="isPermissionDisabled" inputId="stats-{{user().id}}"></p-checkbox>
            <label [for]="'stats-'+user().id">{{ t('perms.viewLibraryStats') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canAccessUserStats" [disabled]="isPermissionDisabled" inputId="userstats-{{user().id}}"></p-checkbox>
            <label [for]="'userstats-'+user().id">{{ t('perms.viewUserStats') }}</label>
          </div>
        </div>
      </div>

      <div class="permission-group">
        <h5>
          <i class="pi pi-cog"></i>
          {{ t('permGroups.systemConfig') }}
        </h5>
        <div class="permission-items">
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canManageMetadataConfig" [disabled]="isPermissionDisabled" inputId="metadataconfig-{{user().id}}"></p-checkbox>
            <label [for]="'metadataconfig-'+user().id">{{ t('perms.manageMetadataConfig') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canManageGlobalPreferences" [disabled]="isPermissionDisabled" inputId="preferences-{{user().id}}"></p-checkbox>
            <label [for]="'preferences-'+user().id">{{ t('perms.manageAppPreferences') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canAccessTaskManager" [disabled]="isPermissionDisabled" inputId="taskmanager-{{user().id}}"></p-checkbox>
            <label [for]="'taskmanager-'+user().id">{{ t('perms.accessTaskManager') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canManageIcons" [disabled]="isPermissionDisabled" inputId="icons-{{user().id}}"></p-checkbox>
            <label [for]="'icons-'+user().id">{{ t('perms.manageIcons') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canManageFonts" [disabled]="isPermissionDisabled" inputId="fonts-{{user().id}}"></p-checkbox>
            <label [for]="'fonts-'+user().id">{{ t('perms.manageFonts') }}</label>
          </div>
        </div>
      </div>

      <div class="permission-group">
        <h5>
          <i class="pi pi-pencil"></i>
          {{ t('permGroups.metadataEditing') }}
        </h5>
        <div class="permission-items">
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canEditMetadata" [disabled]="isPermissionDisabled" inputId="metadata-{{user().id}}"></p-checkbox>
            <label [for]="'metadata-'+user().id">{{ t('perms.editSingleMetadata') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canBulkAutoFetchMetadata" [disabled]="isPermissionDisabled" inputId="bulkautofetch-{{user().id}}"></p-checkbox>
            <label [for]="'bulkautofetch-'+user().id">{{ t('perms.bulkAutoFetch') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canBulkCustomFetchMetadata" [disabled]="isPermissionDisabled" inputId="bulkcustomfetch-{{user().id}}"></p-checkbox>
            <label [for]="'bulkcustomfetch-'+user().id">{{ t('perms.bulkCustomFetch') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canBulkEditMetadata" [disabled]="isPermissionDisabled" inputId="bulkmetadataeditor-{{user().id}}"></p-checkbox>
            <label [for]="'bulkmetadataeditor-'+user().id">{{ t('perms.accessBulkEditor') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canBulkRegenerateCover" [disabled]="isPermissionDisabled" inputId="bulkregeneratecover-{{user().id}}"></p-checkbox>
            <label [for]="'bulkregeneratecover-'+user().id">{{ t('perms.bulkRegenerateCover') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canMoveOrganizeFiles" [disabled]="isPermissionDisabled" inputId="moveorganizefiles-{{user().id}}"></p-checkbox>
            <label [for]="'moveorganizefiles-'+user().id">{{ t('perms.moveOrganize') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canBulkLockUnlockMetadata" [disabled]="isPermissionDisabled" inputId="bulklockunlock-{{user().id}}"></p-checkbox>
            <label [for]="'bulklockunlock-'+user().id">{{ t('perms.bulkLockUnlock') }}</label>
          </div>
        </div>
      </div>

      <div class="permission-group">
        <h5>
          <i class="pi pi-mobile"></i>
          {{ t('permGroups.deviceSync') }}
        </h5>
        <div class="permission-items">
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canSyncKoReader" [disabled]="isPermissionDisabled" inputId="koreader-{{user().id}}"></p-checkbox>
            <label [for]="'koreader-'+user().id">{{ t('perms.koreaderSync') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canSyncKobo" [disabled]="isPermissionDisabled" inputId="kobo-{{user().id}}"></p-checkbox>
            <label [for]="'kobo-'+user().id">{{ t('perms.koboSync') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canAccessOpds" [disabled]="isPermissionDisabled" inputId="opds-{{user().id}}"></p-checkbox>
            <label [for]="'opds-'+user().id">{{ t('perms.opdsFeedAccess') }}</label>
          </div>
        </div>
      </div>

      <div class="permission-group">
        <h5>
          <i class="pi pi-refresh"></i>
          {{ t('permGroups.bulkReset') }}
        </h5>
        <div class="permission-items">
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canBulkResetGrimmoryReadProgress" [disabled]="isPermissionDisabled" inputId="bulkresetgrimmory-{{user().id}}"></p-checkbox>
            <label [for]="'bulkresetgrimmory-'+user().id">{{ t('perms.bulkResetGrimmory') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canBulkResetKoReaderReadProgress" [disabled]="isPermissionDisabled" inputId="bulkresetkoreader-{{user().id}}"></p-checkbox>
            <label [for]="'bulkresetkoreader-'+user().id">{{ t('perms.bulkResetKoreader') }}</label>
          </div>
          <div class="permission-item">
            <p-checkbox [binary]="true" [(ngModel)]="user().permissions.canBulkResetBookReadStatus" [disabled]="isPermissionDisabled" inputId="bulkresetreadstatus-{{user().id}}"></p-checkbox>
            <label [for]="'bulkresetreadstatus-'+user().id">{{ t('perms.bulkResetReadStatus') }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-restrictions-section">
    <h4 class="details-title">
      <i class="pi pi-eye-slash"></i>
      {{ t('contentRestrictions.title') }}
    </h4>
    <p class="section-description">
      {{ t('contentRestrictions.description') }}
    </p>
    <app-content-restrictions-editor
      [userId]="user().id"
      [isEditing]="user().isEditing ?? false">
    </app-content-restrictions-editor>
  </div>
</div>